---
import Layout from "../layouts/Layout.astro";
---

<Layout
  header="Credits"
  lang="cs"
  description="Má inspirace, zdrojový kód a ocenění."
  noindex={true}
>
  <ul>
    <li>
      Zdrojový kód: <a
        href="https://github.com/Limit-sest/personal-site"
        target="_blank"
        class="text-accent underline">Github</a
      >
    </li>
  </ul>
</Layout>

<style>
  ul {
    list-style: disc;
  }
</style>
