---
import Layout from "../layouts/Layout.astro";
---

<Layout header="O mně" lang="cs">
  <section class="mb-8">
    <h1 class="font-display text-accent mb-2 text-4xl font-bold">ahoj,</h1>
    <p class="text-xl">
      <span class="text-accent font-medium">já jsem Tonda.</span>
      Rád tvořím nové věci a jsem kreativní. Baví mě design a vývoj webů, tvoření
      grafiky a experimentování s počítači. Taky mám rád kafe a lezení.
    </p>
  </section>
  <section class="mb-8 text-xl">
    <h2 class="font-display text-accent mb-2">Můžeš mě najít na...</h2>
    <adress
      ><ul role="list" class="star space-y-2">
        <li>
          Githubu, jako <a
            href="https://github.com/Limit-sest"
            class="text-accent font-medium underline">@Limit-sest</a
          >
        </li>
        <li>
          Discordu, jako <a class="text-accent font-medium">@limit6</a>
        </li>
        <li>
          Nebo mi napiš email na <a class="text-accent font-medium"
            >tonda@kucera.dev</a
          >
        </li>
      </ul></adress
    >
  </section>
  <section class="grid grid-cols-2 text-xl">
    <article>
      <h2 class="font-display text-accent">Mám rád:</h2>
      <ul class="plus space-y-2">
        <li>Linux</li>
        <li>Open source</li>
        <li>Internet</li>
      </ul>
    </article>
    <article>
      <h2 class="font-display text-accent">Nemám rád:</h2>
      <ul class="minus space-y-2">
        <li>Windows</li>
        <li>Velké korporace</li>
        <li>Internet</li>
      </ul>
    </article>
  </section>
</Layout>
<style>
  ul.star {
    list-style-type: "✳";
  }
  ul.minus {
    list-style-type: "☹";
  }
  ul.plus {
    list-style-type: "☺";
  }
  ul {
    list-style-position: outside;
    margin-left: 1.5rem;
  }
  li {
    padding-left: 12px;
  }
</style>
