---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <section class="col-span-12 p-3">
    <h1 class="font-display text-accent text-3xl">
      Ahoj! Já jsem Tonda Kučera.
    </h1>
  </section>
</Layout>
