---
import Layout from "../layouts/Layout.astro";
---

<Layout header="O mně">
  <section class="col-span-12 p-6">
    <h1 class="font-display text-accent mb-2 text-4xl font-bold">Ahoj!</h1>
    <p class="text-xl">
      <span class="text-accent">Já jsem Tonda Kučera a je mi 16 let.</span> Rád tvořím
      nové věci a jsem kreativní. Baví mě design a vývoj webů, tvoření grafiky a
      experimentování s počítači. Taky mám rád kávu a lezení.
    </p>
    <p>Můžeš mě najít</p>
  </section>
</Layout>
