---
import Layout from "../layouts/Layout.astro";
---

<Layout header="O mně" lang="cs">
  <section class="mb-8">
    <h1 class="font-display text-accent mb-2 text-4xl font-bold">ahoj,</h1>
    <p class="text-xl">
      <span class="text-accent font-medium">já jsem Tonda.</span>
      Rád tvořím nové věci a jsem kreativní. Baví mě design a vývoj webů, tvoření
      grafiky a experimentování s počítači. Taky mám rád kafe a lezení.
    </p>
  </section>
  <section class="mb-8 text-xl">
    <h2 class="font-display text-accent mb-2">Můžeš mě najít na...</h2>
    <adress
      ><ul role="list" class="star space-y-2">
        <li>
          Githubu, jako <a
            href="https://github.com/Limit-sest"
            class="text-accent font-medium underline">@Limit-sest</a
          >
        </li>
        <li>
          Discordu, jako <p
            class="text-accent copy inline cursor-pointer font-medium"
            data-copy="@limit6"
          >
            @limit6<img
              src="/icons/copy.png"
              alt=""
              class="pixelated ml-1 inline h-6 w-6 align-text-top"
            />
          </p>
        </li>
        <li>
          Nebo mi napiš email na <p
            class="text-accent copy inline cursor-pointer font-medium"
            data-copy="tonda@kucera.dev"
          >
            tonda@kucera.dev<img
              src="/icons/copy.png"
              alt=""
              class="pixelated ml-1 inline h-6 w-6 align-text-top"
            />
          </p>
        </li>
      </ul></adress
    >
  </section>
  <section class="grid grid-cols-2 text-xl">
    <article>
      <h2 class="font-display text-accent">Mám rád:</h2>
      <ul class="plus space-y-2">
        <li>Linux</li>
        <li>Open source</li>
        <li>Internet</li>
      </ul>
    </article>
    <article>
      <h2 class="font-display text-accent">Nemám rád:</h2>
      <ul class="minus space-y-2">
        <li>Windows</li>
        <li>Velké korporace</li>
        <li>Internet</li>
      </ul>
    </article>
  </section>
</Layout>

<style>
  ul.star {
    list-style-type: "✳";
  }
  ul.minus {
    list-style-type: "☹";
  }
  ul.plus {
    list-style-type: "☺";
  }
  ul {
    list-style-position: outside;
    margin-left: 1.5rem;
  }
  li {
    padding-left: 12px;
  }
</style>

<style is:inline>
  .copy img {
    filter: invert(11%) sepia(74%) saturate(5852%) hue-rotate(229deg)
      brightness(99%) contrast(110%);
  }

  .dark .copy img {
    filter: invert(40%) sepia(69%) saturate(3315%) hue-rotate(210deg)
      brightness(102%) contrast(100%);
  }
</style>

<script>
  declare global {
    interface Window {
      Clipboard: {
        copy: (text: string) => void;
      };
    }
  }

  window.Clipboard = (function (
    window: Window,
    document: Document,
    navigator: Navigator,
  ) {
    let textArea: HTMLTextAreaElement | null = null;

    function isOS(): boolean {
      return !!navigator.userAgent.match(/ipad|iphone/i);
    }

    function createTextArea(text: string): void {
      textArea = document.createElement("textarea");
      textArea.value = text;
      textArea.readOnly = true;
      document.body.appendChild(textArea);
    }

    function selectText(): void {
      if (!textArea) return;

      if (isOS()) {
        const range = document.createRange();
        range.selectNodeContents(textArea);

        const selection = window.getSelection();

        if (selection) {
          selection.removeAllRanges();
          selection.addRange(range);
          textArea.setSelectionRange(0, 999999);
        }
      } else {
        textArea.select();
      }
    }

    function copyToClipboard(): void {
      document.execCommand("copy");

      if (textArea && document.body.contains(textArea)) {
        document.body.removeChild(textArea);
        textArea = null;
      }
    }

    const copy = function (text: string): void {
      createTextArea(text);
      selectText();
      copyToClipboard();
    };

    return {
      copy: copy,
    };
  })(window, document, navigator);

  const copyElements = document.querySelectorAll(".copy");

  async function handleClick(event: Event) {
    const clickedElement = event.currentTarget as Element;
    const data = clickedElement?.getAttribute("data-copy");
    Clipboard.copy(data);
    const img = clickedElement?.querySelector("img");
    if (img) {
      img.src = "/copy-icons/check.png";
      setTimeout(() => {
        img.src = "/copy-icons/copy.png";
      }, 3000);
    }
  }

  copyElements.forEach((e) => {
    e.addEventListener("click", handleClick);
  });
</script>
