---
import "../global.css";

const { header } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main
      class="border-accent mx-auto grid max-w-2xl grid-cols-12 gap-2 border"
    >
      <header
        class="bg-accent col-span-12 flex items-center-safe justify-between gap-2 px-6 py-2"
      >
        <a
          class="font-display text-white hover:underline"
          href="https://kucera.dev">Tonda KuÄera</a
        >
        <div class="h-1 flex-1 border-b border-b-white"></div>
        <p class="font-display text-white">{header}</p>
      </header>
      <slot />
    </main>
  </body>
</html>
